<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 id="top-title">Sign Up</h4>

      <!-- Message từ Server -->
      <!-- <div id="errorMsg" *ngIf="errorMessage">
        <span>{{ errorMessage }}</span>
      </div> -->

      <form
        class="col-12"
        id="signup-form"
        [formGroup]="signupForm"
        novalidate
       
      >
        <div class="form-group">
          <label for="">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            formControlName="username"
          />
          <!-- <app-errors-validate [control]="signupForm.controls.username" [name-control]="'Username'"></app-errors-validate> -->
          <ng-container >
            <span class="text-danger" *ngIf="errorValidateFieldSignUp[0] && errorValidateFieldSignUp[0].username">{{errorValidateFieldSignUp[0].username}}</span>
          </ng-container>
        </div>

        <div class="form-group">
          <label for="">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            formControlName="email"
          />
          <!-- <app-errors-validate [control]="signupForm.controls.email" [name-control]="'Email'"></app-errors-validate> -->
          <ng-container>
            <span class="text-danger" *ngIf="errorValidateFieldSignUp[1] && errorValidateFieldSignUp[1].email">{{errorValidateFieldSignUp[1].email}}</span>
          </ng-container>
        </div>

        <div class="form-group">
          <label for="">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            formControlName="password"
          />
          <!-- <app-errors-validate [control]="signupForm.controls.password" [name-control]="'Password'"> </app-errors-validate> -->
          <ng-container>
            <span class="text-danger" *ngIf="errorValidateFieldSignUp[2] && errorValidateFieldSignUp[2].password">{{errorValidateFieldSignUp[2].password}}</span>
          </ng-container>
        </div>

        <div class="form-group">
          <button class="btn btn-primary" id="signup-button" type="button" (click)="onSubmitSignUp()">
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
