.img-preview-container{
    background-color:peachpuff;
    position: relative;
}

.img-preview{
    background: center center no-repeat;
    background-size: contain;
    height: 116px;
    width: 100%;
}