<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 id="title">Add Profile</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form [formGroup]="addProfileForm">
        <div class="form-group">
          <input type="hidden" class="form-control" formControlName="_id" />
        </div>

        <div class="form-group">
          <label for="">Full Name: </label>
          <input type="text" required maxlength="40" minlength="2" class="form-control" formControlName="fullname" />
        </div>

        <div class="col-6">
          <label for="gender">Gender: </label>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="1" required formControlName="gender" />
              Nam
            </label>
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="2" required formControlName="gender" />
              Nữ
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="">Birthday: </label>
          <input type="date" class="form-control" required formControlName="birthday" />
        </div>

        <div class="form-group">
          <label for="">Address: </label>
          <input type="text" class="form-control" required formControlName="address" />
        </div>

        <div class="form-group">
          <label for="">Phone: </label>
          <input type="text" class="form-control" appZipValidator formControlName="phone" />
        </div>

        <div class="form-group">
          <label for="">Degree</label>
          <select class="form-control" required formControlName="degree">
            <option selected value="">Lựa chọn...</option>
            <option *ngFor="let item of degreeOrders" [value]="item.id">{{item.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="">Salary</label>
          <select class="form-control" required formControlName="salary">
            <option selected value="">Lựa chọn...</option>
            <option *ngFor="let item of salaryOrders" [value]="item.id">{{item.name}}</option>
          </select>
        </div>

        <h6>Skills:</h6>
        <div class="form-check" *ngFor="let control of skillsArr.controls; let i = index">
          <label class="form-check-label" for="checkBox{{ i }}">
            <input type="checkbox" class="form-check-input" required (change)="getSelectedSkillsValue()"
              [formControl]="control" id="checkBox{{ i }}" />{{ skillsOrders[i].name }}
          </label>
        </div>
        <small class="custom-invalid-feedback form-text " *ngIf="skillsErrors && checkSkillsTouched()"
          style="background: red; color: white; font-weight: 500">
          Không được bỏ trống
        </small>

        <h5>Worked:</h5>

        <div class="form-check " *ngFor="let item of worksOrders">
          <label class="form-check-label">
            <input class="form-check-input col-6" type="radio" value="{{ item.id }}" required formControlName="worked"
              (click)="workOther(item.id)" />{{ item.value }}
          </label>
        </div>
        <!-- <input class="form-check-input col-6" type="radio" (click)="workOther()"> Other -->
        <div *ngIf="checkWork == true">
          <input type="text" id="inputother" formControlName="worked" />
        </div>
        <input type="hidden" value="workedId" formControlName="workedId">
        <!-- 
        <div class="form-check " *ngFor="let item of worksOrders; let i = index">
         
        </div> -->

        <div class="form-group">
          <label for="">Status: </label>
          <textarea class="form-control" rows="3" required formControlName="status"></textarea>
        </div>

        <!-- <div class="form-group" id="fileSelector">
          <label for="">Upload Images: </label>
          <input type="file" class="form-control-file" formControlName="imgULR" id="imgULR" multiple ng2FileSelect [uploader]='uploader'>
        <div>
          <div class="row uploadList" *ngFor="let item of uploader.queue">
            <div class="col-sm-4">{{item.file.name}}</div>
            <div class="col-sm-4">
              <div>
                <div class="progress">
                  <div class="progress-bar bg-success" [ngStyle]="{'width': item.progress+'%'}"></div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-primary m-1" (click)="item.upload()">Upload</button>
              <button type="button" class="btn btn-danger m-1" (click)="item.remove()">Cancel</button>
            </div>
          </div>
          <div class="row" *ngIf="uploader?.queue?.length > 0">
            <button type="button" class="btn btn-primary" (click)="uploader.uploadAll()">Upload All</button>
          </div>
        </div> 
      </div> -->

        <div class="form-group">
          <app-upload-img></app-upload-img>
        </div>

        <div class="row">
          <div class="form-group">
            <button class="btn btn-primary col-12 " id="add-button" (click)="resetForm(addProfileForm)">
              reset
            </button>
          </div>
          <div class="form-group">
            <button class="btn btn-primary col-12 " id="add-button" (click)="onSubmitAddForm(addProfileForm)">
              Next
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>